<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Book</title>
</head>
<body>
	<table style="border: 1px solid black;">
			<caption  style="border: 1px solid black;">You are seeing details of <p style="border: 1px solid black;" th:text="${book.name}"></p> book:</caption>
			<tr style="border: 1px solid black;"><th style="border: 1px solid black;">ISBN</th><td style="border: 1px solid black;" th:text="${book.ISBN}"></td></tr>
			<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Publisher:</th><td style="border: 1px solid black;" th:text="${book.publisher}"></td></tr>
			<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Author:</th><td style="border: 1px solid black;" th:text="${book.author}"></td></tr>
			<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Release year:</th><td style="border: 1px solid black;" th:text="${book.releaseDate}"></td></tr>
			<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Description:</th><td style="border: 1px solid black;" th:text="${book.desc}"></td></tr>
			<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Price:</th><td style="border: 1px solid black;" th:text="${book.price}"></td></tr>
			<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Number of pages:</th><td style="border: 1px solid black;" th:text="${book.numOfPages}"></td></tr>
			<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Cover type:</th><td style="border: 1px solid black;" th:text="${book.coverType}"></td></tr>
			<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Language:</th><td style="border: 1px solid black;" th:text="${book.language}"></td></tr>
			<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Language type:</th><td style="border: 1px solid black;" th:text="${book.languageType}"></td></tr>
			<tr style="border: 1px solid black;"><th style="border: 1px solid black;">Rating:</th><td style="border: 1px solid black;" th:text="${book.rating}"></td></tr>
	</table>
	<a href="/OWP/books/index">Go back to index page</a>
</body>
</html>