<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bookstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
    <div class="container my-2">
        <div class="card text-center">
            <div class="card-body">
            <form method="get" th:action="@{/books/index}" class="bookForm">
                <div th:switch="${books}" class="container my-5">
                
                
                <div id="searchContainer">
			
           <!-- Books display -->
           
           			
                    <div class="container">
                    	
                    	<div>&nbsp;</div>
                    	
                    	<div id="searchContainer">
			<table class="tableSearch">
				<tr>
					<th align="left">
						<span th:text="searchBox"></span>:<input width="100%" type="text" th:value="${param.searchBox}?: ''" name = "searchBox"/><br/>
					</th>
				</tr>
				<tr>					
					<th align="left"> 
						<span th:text="priceLow"></span>:<input width="100%" type="text" min="0" th:value="${param.priceLow}?: ''" name = "priceLow"/><br/>
						<span th:text="priceHigh"></span>:<input width="100%" type="text" min="0" th:value="${param.priceHigh}?: ''" name="priceHigh" />
					</th>		
				</tr>

				<tr><th align="right"><input type="submit" th:value="search"/></th></tr>			
			</table>	
			</div>
              	
                    
                    
                        <h2 th:case="null">No books yet!</h2>
                        <div th:case="*" >
                            <table class="table table-dark table-bordered" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Rating</th>
                                        <th colspan="2" style="text-align: center;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="book : ${books}">
                                        <td th:text="${book.name}"></td>
                                        <td th:text="${book.price}"></td>
                                        <td th:text="${book.rating}"></td>
                                        <!-- DETAILS -->
                                        <td><a th:href="@{/books/Details/{id}(id=${book.id})}" class="btn btn-primary"><i class="fas fa-info-circle ml-2"></i></a></td>
                                        <!-- EDIT -->
                                        <td><a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-primary"><i class="fas fa-edit ml-2"></i></a></td>
                                        <!-- DELETE
                                        <td><a th:href="@{/books/delete/{id}(id=${book.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                   		 -->
                                    </tr>
                                </tbody>
                            </table>
                            
                       </div>
                            <!-- Add new book -->
                    <p class="my-5" style="text-align: center;">
                        <a href="addBook" class="btn btn-primary"><i class="fas fa-book ml-2">Add new book</i></a>
                    </p>
                    
                        </div>

                    </div>
                    
                </div>
               </form>
            </div>
        </div>
    </div>
</body>
</html>