<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
		<form method="post" action="Users/Login">
			<table>
				<caption>Login</caption>
				<tr><th>username:</th><td><input type="text" name="username"/></td></tr>
				<tr><th>password:</th><td><input type="password" name="password"/></td></tr>
				<tr><th></th><td><input type="submit" value="Login"/></td></tr>
			</table>
		</form>
		<div>
		<p>Not registered yet?<a href="Register">Register now</a></p>
		</div>
		<p th:text="${message}"></p>
</html>