<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
</head>
<body>
		<form method="post" action="Users/Register">
			<table>
				<caption>Registration</caption>
				<tr><th>username:</th><td><input type="text" name="username"/></td></tr>
				<tr><th>password:</th><td><input type="password" name="password"/></td></tr>
				<tr><th>repeatedPassword:</th><td><input type="password" name="repeatedPassword"/></td></tr>
				<tr><th>email:</th><td><input type="text" name="email"/></td></tr>
				<tr><th>name:</th><td><input type="text" name="name"/></td></tr>
				<tr><th>surname:</th><td><input type="text" name="surname"/></td></tr>
				<tr><th>Date of birth:</th><td><input type="text" name="dateOfBirth"/></td></tr>
				<tr><th>Address:</th><td><input type="text" name="address"/></td></tr>
				<tr><th>Phone number:</th><td><input type="text" name="phoneNum"/></td></tr>
				<tr><th></th><td><input type="submit" value="Register"/></td></tr>
			</table>
		</form>
		<p th:text="${poruka}"></p>
</body>
</html>